body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding-top: 60px;
}

@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .header__container {
    min-height: 80px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media (min-width: 1200px) {
  .header__container {
    min-height: 80px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

.logo__text {
  color: #000000;
}

.logo__text--accent {
  color: #ffffff;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.16), 4px 0px 2px rgba(0, 0, 0, 0.08), 8px 0px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.16), 4px 0px 2px rgba(0, 0, 0, 0.08), 8px 0px 4px rgba(0, 0, 0, 0.04);
}

.menu.is-open {
  pointer-events: unset;
  opacity: 1;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.nav {
  margin-bottom: 60px;
}

.nav__list {
  display: block;
}

.nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.nav__link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
  position: relative;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav-contacts__list {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-contacts__item:not(:last-child) {
  margin-bottom: 16px;
}

.nav-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: #2196f3;
}

.nav-contacts__icon {
  margin-right: 10px;
  fill: #757575;
}

.nav-contacts__link:hover .nav-contacts__icon {
  fill: #2196f3;
}

.navigation__link, .contacts__link {
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation {
  display: none;
}

@media (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 93px;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 33px;
  color: #212121;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .navigation__link {
    font-size: 14px;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
  position: relative;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.contacts {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    display: unset;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: unset;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .contacts__list {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin: 0 50px 0 0;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 400;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: #757575;
}

.contacts__link:hover .contacts__icon {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-top: 30px;
}

.features__subtitle, .activity__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__container {
  padding: 60px 15px;
}

.features__list {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  display: block;
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--icon--antenna::before {
  background-image: url(../images/antenna.svg);
}

.features__item--icon--clock::before {
  background-image: url(../images/clock.svg);
}

.features__item--icon--diagram::before {
  background-image: url(../images/diagram.svg);
}

.features__item--icon--astronaut::before {
  background-image: url(../images/astronaut.svg);
}

@media (min-width: 480px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .features__item {
    width: calc((100%-30 * 1) / 2);
    max-width: 354px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features__item:not(:nth-child(even)) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .features__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .features__item {
    width: calc((100%-30 * 3) / 4);
    max-width: 270px;
  }
  .features__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
}

.features__subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  color: #212121;
}

@media (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .features__subtitle {
    text-align: left;
  }
}

.features__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.activity {
  display: none;
}

@media (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 0;
}

.activity__item {
  width: calc((100%-30 * 2) / 3);
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__position {
  position: relative;
}

.activity__img {
  display: inline-block;
}

.activity__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .team__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 768px) {
  .employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.employee__item {
  background-color: #ffffff;
}

@media (min-width: 480px) {
  .employee__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .employee__item {
    width: calc((100%-30 * 1) / 2);
    max-width: 354px;
  }
  .employee__item:not(:last-child) {
    margin-bottom: 0;
  }
  .employee__item:not(:nth-child(even)) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .employee__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .employee__item {
    width: calc((100%-30 * 3) / 4);
    max-width: 270px;
  }
  .employee__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
}

.employee__content {
  padding: 30px 32px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.employee__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.employee__text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  color: #757575;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon:hover {
  fill: var(--primary-bg-color);
}

.socials__link:hover .socials__icon {
  fill: #ffffff;
}

.clients__container {
  padding: 60px 15px;
}

@media (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
}

@media (min-width: 768px) {
  .clients__list {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .clients__list {
    margin-top: 50px;
  }
}

@media (min-width: 480px) {
  .clients__item {
    width: calc((100%-30 * 1) / 2);
    max-width: 210px;
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .clients__item {
    width: calc((100%-30 * 2) / 3);
    max-width: 226px;
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    width: calc((100%-30 * 5) / 6);
    max-width: 170px;
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover {
  fill: #2196f3;
}

.clients__link:hover .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__container {
    padding: 60px 89px 60px 76px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    padding: 60px 15px;
    text-align: unset;
  }
}

@media (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .footer__left {
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .footer__left {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.46;
}

.address__list {
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__item--white {
  line-height: 1.71;
  color: #ffffff;
}

.footer__join {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .footer__join {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .footer__join {
    padding: 0;
    margin-right: 93px;
  }
}

.join__text,
.signup__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 206px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .join__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

@media (min-width: 480px) {
  .join__item:not(:last-child) {
    margin-right: 10px;
  }
}

.join__icon {
  fill: currentColor;
}

.signup {
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .signup {
    padding: 0;
  }
}

.signup__form {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .signup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.signup__input {
  margin: 0;
  padding: 15px 16px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__input:focus, .signup__input:required:valid {
  border: 1px solid #2196f3;
}

.signup__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.signup__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.signup__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.signup__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 1200px) {
  .signup__input {
    margin-right: 12px;
    width: 358px;
  }
}

.signup__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-left: 28px;
  padding-right: 29px;
}

@media (min-width: 1200px) {
  .signup__button {
    margin: 0;
  }
}

.signup__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  overflow-y: scroll;
  left: 50%;
  width: 450px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, 10%) scale(0.9) rotate(0);
          transform: translate(-50%, 10%) scale(0.9) rotate(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9) rotate(0);
          transform: translate(-50%, -50%) scale(0.9) rotate(0);
}

@media (min-width: 768px) {
  .modal {
    top: 0;
    -webkit-transform: translate(-50%, 20%) scale(0.9) rotate(0);
            transform: translate(-50%, 20%) scale(0.9) rotate(0);
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    top: 0;
    -webkit-transform: translate(-50%, 30%) scale(0.9) rotate(0);
            transform: translate(-50%, 30%) scale(0.9) rotate(0);
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal__headline {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

@media (min-width: 1200px) {
  .modal__headline {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__send {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__button-send {
  min-width: 200px;
}

.form:first-child {
  margin-top: 12px;
}

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form__input {
  margin-top: 4px;
  padding: 12px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form__label:focus-within .form__input {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:required:valid {
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
}

.form__label:focus-within .form__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:required:valid + .form__icon {
  fill: #2196f3;
}

.form__comment {
  margin-top: 10px;
  padding: 12px 16px;
  max-width: 448px;
  max-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:not(:placeholder-shown), .form__comment:focus {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  font-size: 12px;
  line-height: 1.16;
}

@media (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__icon {
  margin-right: 4px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}
/*# sourceMappingURL=main.css.map */