.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px 39px 41px;

  background: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden & {
  transform: translate(-50%, -50%) scale(0.9);
}
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: $primary-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;

  &:hover, &:focus {
  fill: $accent-color;
}
}
.modal__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: $title-text-color;
}
.modal__send-button {
  margin-top: 30px;

  display: flex;
  justify-content: center;
}