.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $primary-bg-color;
  border-bottom: 1px solid $header-border-color;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    @include for-size (mobile-only) {
      height: 60px;
    }
    @include for-size (mobile) {
      height: 60px;
    }
    @include for-size (tablet) {
      height: 80px;
      justify-content: unset;
    }
    @include for-size (desktop) {
      height: 80px;
      justify-content: unset;
      padding-top: 0;
      padding-bottom: 0;
    }
}
